<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product Detail</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/homeStyle.css">


</head>
<body class="flex_column">
    
    <%- include('partials/header.ejs') %>

    <div class="ContinerProductDetails flex_column" >

        <div class="product_name flex_column" style="align-items:flex-start;"><h1 id="productName" style="font-size:2em;margin-left: 10px;"> Product name</h1></div>
        
        <div class="productInfo flex_wrap"  >

            <img   id="productImg">

            <div class="productInfo_text flex_column" style="height:400px;" > 
                <div class="flex_row"  style="width:90%;height:px;justify-content:flex-start;"> <b  style="width:25%">Price : </b><div class="flex_row" style="font-size:.9em;width:50%;margin:5px 0px 0px 10px;"><p id="productPrice"></p><p>SAR</p></div></div> 
                <div class="flex_row"><b>product details: </b> <p class="product_description" id="product_description"  style=" width:90%;text-align:left;font-size:1.2em;min-height:100px;">  </p></div> 
              
            </div>

        </div>
        
        
        </div>


    </div>

    <%- include('partials/footer.ejs') %>


    <script>
        
     var  text="<%= productInfo %>";
     var image="<%= image %>";
     
     var info=text.split(';');

     document.getElementById('productName').innerText=info[0];
     document.getElementById('productImg').src=image;
     document.getElementById('productPrice').innerText=info[2]
     document.getElementById('product_description').innerText=info[1];


    </script>
</body>
</html>