<head>
    <link rel="stylesheet" href="/css/footer.css">
    <script  src="/js/mainData.js"></script>
    </head>

<footer class="footer flex_column" id="footer" >
            
    <div class="footer_top flex_row">
        
        
        <div class="footer_top_left" >
            <h3 class="footer_title">  Contact Us  </h3>
            <div class="Cont_SocialMedia flex_row" >
                 <a href="https://www.facebook.com" class="flex_row" style="justify-content:space-between;"><img src="/icons/facebook.png"><b>facebook</b> </a> 
                 <a href="https://www.twitter.com"  class="flex_row" style="justify-content:space-between;"><img src="/icons/twitter.png"><b>twitter</b> </a>
                 <a href="https://www.instgram.com" class="flex_row" style="justify-content:space-between;"><img src="/icons/instgram.png"><b>instgram</b> </a>
                 <a href="https://www.snapchat.com" class="flex_row" style="justify-content:space-between;"><img src="/icons/snap.png"><b>snapchat</b> </a>
                </div>
      
            
            
         </div><img width="300px" height="200px" src="icons/logo.png">
  </div> 
     
  <div class="footer_bottom flex_row"> <h4> © All rights reserved 2022 </h4> </div>
</footer>