
        <head>
        <link rel="stylesheet" href="/css/header.css">
         <script src="/js/header.js">  </script>
         <script  src="/js/mainData.js"></script>
        </head>
        <header class="header flex_column"  id="Header" >
             
            <!-- the Top Header  -->
            <div class="main_header flex_row"   id="Main_Header"> 
              
              
      
                 <div class="head_logo flex_row" ><img  src="icons/logo.png" ></div>
       

               
                 <div class="continerRegisterBtn flex_row" >
                    <div class="Register_btn flex_column" id="" onclick="CreateContinerAcount(0)"  >LogIn</div>
                    <div class="Register_btn flex_column" onclick="CreateContinerAcount(1)" >SignIn</div>
                 </div>
                   <div class="head_continer_Menu flex_row" id="Continer_Menu">

                       <a class="btn_menu" href="/" >Home </a>
                       <a class="btn_menu" href="/products" >Products </a>
                       <a  class="btn_menu" href="/aboutUs" >About Us</a>
                       <a  class="btn_menu" href="/contactUs" >Contact</a>
      
                 </div>
                 <div class="flex_column menu_btn" id="menu_btn"  onclick="IsDisplay('Continer_Menu')"  ><div class="" ></div><div class="" ></div><div class="" ></div></div>
            
           
             
            </div>

       
        </header>
        <script>

      function ShowPage(url)
      {
        // AnyXmlHttpRequest(null,null,null,'POST',url,ShowStyle);
      }

        </script>