.flex_wrap{display: flex;flex-wrap:wrap;justify-content:space-around;align-items:center;}
.flex_row{display:flex;flex-direction:row;justify-content:space-around;align-items:center;}
.flex_column{display:flex;flex-direction:column;align-items:center;justify-content:space-around;}




/*========================[ header ]=====================================================================================================*/

.header{width:100%;height:195px;}
.main_header{height:180px;width:100%; position:fixed; z-index:5;top:0px;background-color:rgba(0,0,0,.9)}
.head_logo{width:250px;height:120px;  }
.head_logo img{height:100%;width:100%;}
.menu_btn,.Register_btn {  width:30px;height:20px;margin:auto;font-size:1.3em; cursor:pointer;padding: 4px;border:0px solid white;color:white}
.menu_btn:hover{ box-shadow: 1px -1px 2px rgba(200,200,100,0.8); cursor: pointer;}

.menu_btn * {
    width: 100%;
    border: 1.3px solid white;
    border-radius:1px;
    background-color:white;
    content: ' ';
}

.continerRegisterBtn{width:200px}

.head_continer_Menu{height:40%;width:60%;margin-top:100px;display:none;color:white;font-size:1.2em; text-align: center;}
.btn_menu{color:white;font-size:1.3em; margin:10% auto;cursor:pointer;text-decoration-line: none;}
.btn_menu:hover{border-color:white;border-bottom:1px solid white}
.hidden_cont_class_menu{position:fixed;top:100px;display:none;background-color:transparent;}
.btn_cont_class_menu{background-color:#333;width:150px;margin-top:70px;color:goldenrod;z-index:6}
.btn_class_menu{width:80%;height:30px;border-bottom:1px solid;cursor:pointer;margin:5px}
.btn_class_menu:hover{border-color:goldenrod;}


.continerAccount *{  color: goldenrod;}
.continerAccount {background-color: #333;width: 25%;max-height: 550px;position: fixed;right:0px;z-index:6;display: none;transition: all 0.5s ease;padding: 20px 0px 50px;box-shadow: 0px 1px 2px rgba(255,255,255,0.9);}


.formAccount {
    width: 90%;
    overflow-x: hidden;
    overflow-y: auto;

    padding-bottom:100px;
    padding-top:100px;
}
.contAccountDept {
    width: 90%;
    height:300px;
    margin-top: 50px;
    border-top: 0.5px  solid goldenrod;
    border-radius: 0px,
}
.inputAccount {
    width: 80%;
    margin: 15px 0px 15px;
}
.btnAccount {
    width: 60%;
    height:30px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    
}
.btnAccount:hover{ transform: scale(1.1,1.1)}
 #contAccountDeptCreate {
    display:flex;
}
 #FormAccount1 {
    width: 100%
}
.groupBoxText {
    width: 100%;
    top: -50px;
    max-height: 30px;
    font-size: 1.5em;
    position: relative;
    left: 1%;
    right: 1%;
    background-color: transparent;
    margin-bottom: 20px;
    color:white;
}
.sv-plaint-btn{
    all:unset;
    height:40px;
    width:100px;
}
.sv-plaint-btn, .buttonStyle {
    padding: 0px 10px;
    text-align: center;
    cursor: pointer;
    border:0.3px solid goldenrod;
/*/   //background:/linear-gradient(90deg, #00a9c7 0%, #183d79 100%);*/
    color: white;
    margin: 20px;
}
.inputStyle:hover {
    box-shadow: 0px -0.5px 2px white;
}
.inputStyle {
    all: unset;
    width: 90%;
    color: goldenrod;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 1px -0.5px 1px rgba(255,255,255,0.3) ,-1px 0.5px 1px rgba(255,255,255,0.3);
    border-radius: 30px;
}
.selectStyle {
    width: 90%;
    height: 30px;
    margin-top: 15px;
    text-align: center;
    font-size: 1em;
    opacity: 0.7;
    border: 0.1px solid rgba(255,255,255,0.4);
    border-radius: 30px;
}

#menu_btn{display: none;}

@media (max-width:1200px)
{
    .formAddProduct{width:80%;}
    .head_logo{position:absolute;left:0px;}
     #Continer_Menu{display:none;position:fixed;top:50px;right:0px;height:auto;width:30%;background-color:rgba(0,0,0,.9);flex-direction: column;}
     .btn_menu{margin:10px; width:60%;border-bottom:3px solid rgba(255,255,255,0.3);padding:10px;}
     .head_logo{width:300px;height:100px;}
    .header,.main_header{height:150px;}
    #menu_btn {display:flex;}
    .continerRegisterBtn{position:absolute; right:100px;}
    #menu_btn {display:flex; position:absolute; right:20px;}

}

@media (max-width:768px)
{
    #menu_btn {display:flex; position:absolute; right:20px;top:60px;height:30px;}
    .formAddProduct{width:100%;}
    #Continer_Menu{width:60%;display:none;}
    
}
